{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- carousel -->

<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '/img/4.jpg' %}" class="d-block w-100" alt="...">

      </div>
      <div class="carousel-item">
        <img src="{% static '/img/2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static '/img/3.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- carousel -->

  <!-- overlay -->
<div class="overlay">
    <h1 class="ov">
        Let us be sisters & brothers <br>
    </h1>
    <h3 style="color: azure;">
        All are welcome to this amazing community
    </h3>
    <button type="button" class="btn btn-warning">Learn more</button>
</div>
 <!-- overlay -->





  <div class="container">
      <div class='row'>

<!-- card  -->
<div class="card cards1" style="width: 24rem; margin: 10px;padding: 10px;">
    <img src="{% static '/img/3.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <div class="bdge">
            <div>
                <span class="badge bg-success">date</span>
            </div>
            <div>
                <a href="http://" target="_blank" rel="noopener noreferrer" class="badge bg-dark">live link</a>
            </div>
        </div>
        <div class="infom">

            <div class="inf">
                <img src="{% static '/img/3.jpg' %}"
                style="width: 50px;height: 50px;"
                alt="" class="avatar-md avatar rounded-circle">
                <small>  Special title treatment</small>
            </div>
            <div>
                <a href="http://"  class="badge bg-info text-light">learn more</a>
            </div>
            
        </div>
    </div>
  </div>
<!-- card  -->


      </div>
  </div>

<!-- post modal  -->
  <div class="modal fade" id="post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post your project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form  method="post"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="image_name">Project name</label>
                <input type="text" class="form-control" value="" name="project_name"
                    required>
            </div>
            <input type="hidden" name="user_id" value="">
            <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">url</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                    name="project_url" required></textarea>
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlFile1">Upload screenshot</label>
                <input type="file" class="form-control" id="exampleFormControlFile1"
                    name="screenshort" required>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning">Upload</button>
        </form>
</div>


      </div>
    </div>
  </div>





{% endblock %}