{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body{
    background-image: url("../../static/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="container" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="row flex nowrap">
    <!-- display card  -->
    <div class="card cards1 col-sm-3 m-2 p-2" style="max-height: fit-content;">
      {% if profile.profile_photo %}
      <img src="{{ profile.profile_photo.url }}" class="card-img-top" alt="..." style="width: 18rem;height: 18rem; border-radius: 50%;object-fit: cover;">
      {% else %}
      <img src="{% static '/img/4.jpg' %}" class="card-img-top" alt="..." style="width: 18rem;height: 18rem; border-radius: 50%;object-fit: cover;">
      {% endif %}
      <div class="card-body">
        <h4 class="card-text">
          {{ user.last_name }} {{ user.first_name }}
        </h4>
        {% if profile.bio %}
        <p class="card-text">{{ profile.bio }}</p>
        {% else %}
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        {% endif %}
        <button type="button" class="btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Update info</button>
        <br>
        <p class="card-text badge bg-warning ">
          {{ user.email }}
        </p>
        <br>
        <p class="card-text badge bg-danger ">
         Location :   {{ profile.location }}
        </p>
        <p class="card-text badge bg-success ">
          Joined on  : {{ profile.created_at }}
         </p>
         <p class="card-text badge bg-success ">
          Community  : {{ profile.neighborhood }}
         </p>
      </div>
    </div>
    <!-- display card  -->

    <div class="row col-md-9">
      <div class="col-sm-12" style="height: fit-content;">
        <div class="card cards1">
          <div class="card-body">
            <h5 class="card-title">Add New business</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <form action="{% url 'add_business' %}" method="POST">
              {% csrf_token %}
                  <div class="form-group mb-3">
                      <label for="bs_name">Business Name</label>
                      <input type="text" class="form-control" id="bs_name"
                          name="bs_name" value="">
                  </div>
                  <div class="form-group mb-3">
                    <label for="bs_name">Business Email</label>
                    <input type="text" class="form-control" id="bs_email"
                        name="bs_email" value="">
                </div>

                  <div class="form-group mb-3">
                    <label for="bs_name">Description</label>
                    <input type="text" class="form-control" id="Description"
                        name="bs_desc" value="">
                  </div>

                  <button type="submit" class="btn btn-warning">Save</button>
            </form>
          </div>
        </div>
      </div>

<div class="col-sm-12 text-center">
  <h1>Business</h1>
</div>
     {% for bs in business %} 
      <div class="col-sm-4" style="height: fit-content;">
        <div class="card cards1">
          <div class="card-body">
            <h5 class="card-title">{{bs.name}}</h5>
            <p class="card-text badge bg-dark">{{bs.email}}</p>
            <p class="card-text badge bg-warning">{{bs.neighbourhood}}</p>
            <p class="card-text badge bg-success">{{bs.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}


      <div class="col-sm-12 text-center">
        <h1>Posts</h1>
      </div>

    <div class="row col-md-12">

      {% for post in posts%}
      <div class="col-sm-4">
        <div class="card cards1">
            <img src="{{ post.image.url }}" class="card-img-top carddisp2" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ post.name }}</h5>
                <div class="bdge">
                    <div>
                        <span class="badge bg-success"> posted on {{ post.posted_date|date:"M d, Y"  }}</span>
                    </div>
                </div>
                <div class="infom">

                    <div class="inf">
                        <img src="{{post.user.profile.profile_photo.url}}"
                        style="width: 50px;height: 50px;"
                        alt="" class="avatar-md avatar rounded-circle">
                        <small>  {{ post.user.username}}</small>

                        <div>
                          <p class="bg-light text-dark">Title : {{ post.title }}</p>
                      </div>
                    </div>
                </div>

                <div>
                  <p class="bg-light text-dark">{{ post.content }}</p>
              </div>

            </div>
          </div>
      </div>
<!-- card  -->
<!-- card  -->
{% empty %}
<div class="card" style="width: 24rem; margin: 10px;padding: 10px;">
  <img src="{% static '/img/3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <div class="bdge">
          <div>
              <span class="badge bg-success">date</span>
          </div>
          <div>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="badge bg-dark">live link</a>
          </div>
      </div>
      <div class="infom">

          <div class="inf">
              <img src="{% static '/img/3.jpg' %}"
              style="width: 50px;height: 50px;"
              alt="" class="avatar-md avatar rounded-circle">
              <small>  Special title treatment</small>
          </div>
          <div>
              <a href="http://" type="button" class="btn btn-warning">Rate app</a>
          </div>
          
      </div>
  </div>
</div>
<!-- card  -->

{% endfor %}  

    </div> 

  </div>
</div>
<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">update profile </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
   <!-- form -->
        <form action="{% url 'update.profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="first_name"
                    name="first_name" value="{{ user.first_name }}">
            </div>
            <div class="form-group mb-3">
                <label for="name">Last Name</label>
                <input type="text" class="form-control" id="last_name"
                    name="last_name" value="{{ user.last_name }}">
            </div>
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username"
                    name="username" value="{{ user.username }}">
            </div>
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                    value="{{ user.email }}">
            </div>
            <div class="form-group mb-3">
                <label for="bio">Bio</label>
                <textarea name="bio" id="bio" cols="30" rows="3"
                    class="form-control">{{ profile.bio }}</textarea>
            </div>
            <div class="form-group mb-3">
              <label for="bio">Neighborhood</label>
              <select class="form-select" aria-label="Default select example" name="neighborhood" required>
                <option selected>Neighborhood name</option>
                <option value="Greenspan">Greenspan</option>
                <option value="Bee center">Bee center</option>
                <option value="Kwa Chief">Kwa Chief</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <label for="bio">Location</label>
              <select class="form-select" aria-label="Default select example" name="location" required>
                <option selected>select your location</option>
                <option value="Donholm">Donholm</option>
                <option value="Kayole">Kayole</option>
                <option value="Umoja">Umoja</option>
              </select>
            </div>
            <div class="form-group mb-3">
                <label for="profile_pic">Profile Picture</label>
                <input type="file" class="form-control" id="profile_pic"
                    name="profile_pic" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
<!-- form  -->
      </div>
    </div>
  </div>


{% endblock %}